/**{outline: 1px solid rgba(0,255,0,0.5);}*/
.background{
    text-align: center;
    background-image: url(../images/background-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
}
.portada img{
    width: 10%;
    margin: auto;
    margin: 50px auto;
}
.buttons{padding: 18%;}
/******USER'S INFORMATION**/
.log img{
    text-align: center;
    width: 300px;
    margin: 0 0 500px;
}
.arrow{
    position: absolute;
    left: 30px;
    top:22px;
    font-size:30px;
}
.next{
    background-color: #ff00bf;
    position: relative;
    padding: 20px;
    color:#fff;  
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    left:0px; 
}
.color{
    background-color: #fff;
    box-shadow: none;
    border-right: none;
    border-left: none;
}
.icon{
    background-color: #fff;
    border-right: none;
}
.check input{
    background-color: #fff;
}
#name{
    border-right: none;
    box-shadow: none;
    border-left: none;
}
#lastname{
    border-left: none;
    box-shadow: none;
}
#email{
    border-left: none;
    box-shadow: none;
}
/*******los countries*******/
.countries{
    padding-top: 25px;}
.flags li{
    padding:10px 0 
}
/***********placeholder********/
.user input::-webkit-input-placeholder {
  color: #D7D7D9;
}
.user input:-moz-placeholder {
  color: #D7D7D9;
}
.user input:-ms-input-placeholder {
  color: #D7D7D9;
}
.user input[placeholder] {
    color: blue;
    font-size: 15px;
}