*{outline: 1px solid rgba(0,255,0,0.5);}
.portada{
    text-align: center;
    background-image: url(../img/driving-holiday-road-trip.jpg);
    background-size: cover;
}
.portada img{
    width: 10%;
    margin: auto;
    margin: 50px auto;
}
.buttons{padding: 18%;}
